body {
    font-family: sans-serif;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    font-size: 3.5vw;
    border: none;
    color: white;
    background-color: hotpink;
    border-radius: 0.5vw;
    padding: 1vw 10vw;
}

button.active {
    font-size: 3.5vw;
    border-color: black;
    color: black;
    background-color: white;
    border-radius: 0.5vw;
    padding: 1vw 10vw;
}